{% extends 'base.html' %}

{% block container %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Sobrenome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefone</th>
      <th scope="col">data Criação</th>
      <th scope="col">Categoria</th>
    </tr>
  </thead>
  <tbody>
    {% for contato in contatos %}
    <tr>
      <th scope="row">{{contato.id}}</th>
      <td>
        <a href="{% url 'ver_contato' contato.id %}">
          {{ contato.nome}}
        </a>
      </td>
      <td>{{contato.sobrenome}}</td>
      <td>{{contato.email}}</td>
      <td>{{contato.telefone}}</td>
      <td>{{contato.data_criacao|date:'d/m/Y'}}</td>
      <td>{{contato.categoria}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<nav aria-label="...">
  <ul class="pagination">
    {% for pagina in contatos.paginator.page_range %}
    {% if contatos.number == pagina%}
     <li class="page-item active"><a class="page-link" href="?p={{pagina}}&termo={{request.GET.termo}}">{{pagina}}</a></li>
    {% else %}
     <li class="page-item"><a class="page-link" href="?p={{pagina}}&termo={{request.GET.termo}}">{{pagina}}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</nav>
{% endblock container %}